<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <autocustomergroup>
            <ukvat>
                <enabled>0</enabled>
                <registrationnumber></registrationnumber>
                <environment>sandbox</environment>
                <clientid></clientid>
                <clientsecret></clientsecret>
                <importthreshold>135</importthreshold>
                <domestictaxed>0</domestictaxed>
                <distancesaletaxed>0</distancesaletaxed>
                <importzero>0</importzero>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </ukvat>
            <euvat>
                <enabled>0</enabled>
                <registrationnumber></registrationnumber>
                <registrationcountry></registrationcountry>
                <importthreshold>135</importthreshold>
                <domestictaxed>0</domestictaxed>
                <intraeuzero>0</intraeuzero>
                <intraeudistancesaletaxed>0</intraeudistancesaletaxed>
                <importzero>0</importzero>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </euvat>
        </autocustomergroup>
    </default>
</config>
