<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <autocustomergroup>
            <general>
                <enabled>0</enabled>
                <enablecurrencydownload>0</enablecurrencydownload>
                <validate_on_each_transaction>1</validate_on_each_transaction>
                <frontendlabel>Tax Identifier</frontendlabel>
                <enable_sales_order_tax_scheme_table>0</enable_sales_order_tax_scheme_table>
            </general>
            <ukvat>
                <enabled>0</enabled>
                <frontendprompt>UK and Isle of Man VAT Registered Businesses, please enter your UK VAT Number (including Country Code), so we can apply the correct rate of VAT to your order.</frontendprompt>
                <registrationnumber></registrationnumber>
                <environment>sandbox</environment>
                <importthreshold>135</importthreshold>
                <usemagentoexchangerate>1</usemagentoexchangerate>
                <exchangerate>1</exchangerate>
                <domestic>0</domestic>
                <intraeub2b>0</intraeub2b>
                <intraeub2c>0</intraeub2c>
                <importb2b>0</importb2b>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </ukvat>
            <euvat>
                <enabled>0</enabled>
                <frontendprompt>EU VAT Registered Businesses, please enter your EU VAT Number (including Country Code), so we can apply the correct rate of VAT to your order.</frontendprompt>
                <registrationnumber></registrationnumber>
                <registrationcountry></registrationcountry>
                <importthreshold>150</importthreshold>
                <usemagentoexchangerate>1</usemagentoexchangerate>
                <exchangerate>1</exchangerate>
                <domestic>0</domestic>
                <intraeub2b>0</intraeub2b>
                <intraeub2c>0</intraeub2c>
                <importb2b>0</importb2b>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </euvat>
            <norwayvoec>
                <enabled>0</enabled>
                <frontendprompt>Norwegian VAT Registered Businesses, please enter your VAT Number so we can apply the correct rate of VAT to your order.</frontendprompt>
                <registrationnumber></registrationnumber>
                <importthreshold>3000</importthreshold>
                <usemagentoexchangerate>1</usemagentoexchangerate>
                <exchangerate>1</exchangerate>
                <domestic>0</domestic>
                <importb2b>0</importb2b>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </norwayvoec>
            <australiagst>
                <enabled>0</enabled>
                <frontendprompt>GST Registered Businesses, please enter your ABN so we can apply the correct rate of GST to your order.</frontendprompt>
                <apiguid></apiguid>
                <registrationnumber></registrationnumber>
                <importthreshold>1000</importthreshold>
                <usemagentoexchangerate>1</usemagentoexchangerate>
                <exchangerate>1</exchangerate>
                <domestic>0</domestic>
                <importb2b>0</importb2b>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </australiagst>
            <newzealandgst>
                <enabled>0</enabled>
                <frontendprompt>GST Registered Businesses, please enter your GST Number so we can apply the correct rate of GST to your order..</frontendprompt>
                <registrationnumber></registrationnumber>
                <importthreshold>1000</importthreshold>
                <usemagentoexchangerate>1</usemagentoexchangerate>
                <exchangerate>1</exchangerate>
                <domestic>0</domestic>
                <importb2b>0</importb2b>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </newzealandgst>
        </autocustomergroup>
    </default>
</config>
