<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <autocustomergroup>
            <ukvat>
                <enabled>0</enabled>
                <registrationnumber></registrationnumber>
                <environment>sandbox</environment>
                <clientid></clientid>
                <clientsecret></clientsecret>
                <validimport>0</validimport>
                <importabovethreshold>0</importabovethreshold>
                <importthreshold>135</importthreshold>
            </ukvat>
            <euvat>
                <enabled>0</enabled>
                <registrationnumber></registrationnumber>
                <registrationcountry></registrationcountry>
                <validintraeu>0</validintraeu>
                <validimport>0</validimport>
                <importabovethreshold>0</importabovethreshold>
                <importthreshold>135</importthreshold>
            </euvat>
        </autocustomergroup>
    </default>
</config>
