<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Gw\AutoCustomerGroup\Model\TaxSchemes">
        <arguments>
            <argument name="taxSchemes" xsi:type="array">
                <item name="ukvat" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\UkVat</item>
                <item name="euvat" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\EuVat</item>
                <item name="norwayvoec" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NorwayVoec</item>
                <item name="australiagst" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\AustraliaGst</item>
                <item name="newzealandgst" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NewZealandGst</item>
           </argument>
        </arguments>
    </type>
    <virtualType name="UkVatImportThresholdStoreBaseCurrency"
                 type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\UkVat</argument>
        </arguments>
    </virtualType>
    <virtualType name="EuVatImportThresholdStoreBaseCurrency"
                 type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\EuVat</argument>
        </arguments>
    </virtualType>
    <virtualType name="NoVatImportThresholdStoreBaseCurrency"
                 type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NorwayVoec</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuGstImportThresholdStoreBaseCurrency"
                 type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\AustraliaGst</argument>
        </arguments>
    </virtualType>
    <virtualType name="NzGstImportThresholdStoreBaseCurrency"
                 type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NewZealandGst</argument>
        </arguments>
    </virtualType>
    <type name="Gw\AutoCustomerGroup\Model\Collector\AutoCustomerGroup">
        <arguments>
            <argument name="additionalCollectors" xsi:type="array">
                <item name="redo_tax_subtotal" xsi:type="object">Magento\Tax\Model\Sales\Total\Quote\Subtotal</item>
                <item name="redo_tax_shipping" xsi:type="object">Magento\Tax\Model\Sales\Total\Quote\Shipping</item>
                <item name="redo_tax" xsi:type="object">Magento\Tax\Model\Sales\Total\Quote\Tax</item>
                <item name="redo_tax_weee_tax" xsi:type="object">Magento\Weee\Model\Total\Quote\WeeeTax</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Directory\Model\CurrencyConfig">
        <plugin name="AutoCustomerGroup_add_additional_base_currencies"
                type="Gw\AutoCustomerGroup\Plugin\Directory\CurrencyConfigPlugin" />
    </type>
    <type name="Magento\Quote\Observer\Frontend\Quote\Address\CollectTotalsObserver">
        <plugin name="AutoCustomerGroup_disable_quote_observer_collecttotals"
                type="Gw\AutoCustomerGroup\Plugin\Quote\DisableCollectTotalsObserverPlugin" />
    </type>
    <type name="Magento\Customer\Observer\AfterAddressSaveObserver">
        <plugin name="AutoCustomerGroup_disable_customer_observer_afteraddresssave"
                type="Gw\AutoCustomerGroup\Plugin\Customer\DisableAfterAddressSaveObserverPlugin" />
    </type>
    <type name="Magento\Customer\Observer\BeforeAddressSaveObserver">
        <plugin name="AutoCustomerGroup_customer_observer_beforeaddresssave"
                type="Gw\AutoCustomerGroup\Plugin\Customer\BeforeAddressSaveObserverPlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\System\Config\Validatevat\Validate">
        <plugin name="AutoCustomerGroup_customer_system_config_vat_validate"
                type="Gw\AutoCustomerGroup\Plugin\Customer\ValidatePlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\System\Config\Validatevat\ValidateAdvanced">
        <plugin name="AutoCustomerGroup_customer_system_config_vat_validate"
                type="Gw\AutoCustomerGroup\Plugin\Customer\ValidateAdvancedPlugin" />
    </type>
    <type name="Magento\Tax\Model\TaxRuleRepository">
        <plugin name="AutoCustomerGroup_taxRuleRepositoryPlugin"
                type="Gw\AutoCustomerGroup\Plugin\Tax\TaxRuleRepositoryPlugin" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector">
        <plugin name="AutoCustomerGroup_CopyTaxDetailsPlugin"
                type="Gw\AutoCustomerGroup\Plugin\ConvertAppliedTaxesPlugin"/>
    </type>

    <preference for="Gw\AutoCustomerGroup\Api\Data\TaxSchemeInterface"
                type="Gw\AutoCustomerGroup\Model\TaxSchemes\AbstractTaxScheme" />
    <preference for="Magento\Tax\Model\TaxRuleCollection"
                type="Gw\AutoCustomerGroup\Model\TaxRuleCollection"/>
    <preference for="Magento\Tax\Model\Calculation\UnitBaseCalculator"
                type="Gw\AutoCustomerGroup\Model\Calculation\UnitBaseCalculator"/>
    <preference for="Magento\Tax\Model\Calculation\TotalBaseCalculator"
                type="Gw\AutoCustomerGroup\Model\Calculation\TotalBaseCalculator"/>
    <preference for="Magento\Tax\Model\Calculation\RowBaseCalculator"
                type="Gw\AutoCustomerGroup\Model\Calculation\RowBaseCalculator"/>
    <preference for="Gw\AutoCustomerGroup\Api\Data\OrderTaxSchemeInterface"
                type="Gw\AutoCustomerGroup\Model\OrderTaxScheme" />
    <preference for="Gw\AutoCustomerGroup\Api\Data\GatewayResponseInterface"
                type="Gw\AutoCustomerGroup\Model\GatewayResponse" />
</config>
