<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Gw\AutoCustomerGroup\Model\TaxSchemes">
        <arguments>
            <argument name="taxSchemes" xsi:type="array">
                <item name="ukvat" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\UkVat</item>
                <item name="euvat" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\EuVat</item>
                <item name="norwayvoec" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NorwayVoec</item>
                <item name="australiagst" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\AustraliaGst</item>
                <item name="newzealandgst" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NewZealandGst</item>
           </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\TotalsCollector">
        <plugin name="autocustomergroup-processgroupchange" type="Gw\AutoCustomerGroup\Plugin\Quote\TotalsCollectorPlugin" />
    </type>
    <virtualType name="UkVatImportThresholdStoreBaseCurrency" type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\UkVat</argument>
        </arguments>
    </virtualType>
    <virtualType name="EuVatImportThresholdStoreBaseCurrency" type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\EuVat</argument>
        </arguments>
    </virtualType>
    <virtualType name="NoVatImportThresholdStoreBaseCurrency" type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NorwayVoec</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuGstImportThresholdStoreBaseCurrency" type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\AustraliaGst</argument>
        </arguments>
    </virtualType>
    <virtualType name="NzGstImportThresholdStoreBaseCurrency" type="Gw\AutoCustomerGroup\Block\Adminhtml\ThresholdSummary">
        <arguments>
            <argument name="taxScheme" xsi:type="object">Gw\AutoCustomerGroup\Model\TaxSchemes\NewZealandGst</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Directory\Model\CurrencyConfig">
        <plugin name="add_additional_base_currencies" type="Gw\AutoCustomerGroup\Plugin\Directory\CurrencyConfigPlugin" />
    </type>
    <type name="Magento\Sales\Observer\Frontend\RestoreCustomerGroupId">
        <plugin name="disable_sales_observer_restorecustomergroupid" type="Gw\AutoCustomerGroup\Plugin\Sales\DisableRestoreCustomerGroupIdObserverPlugin" />
    </type>
    <type name="Magento\Quote\Observer\Frontend\Quote\Address\CollectTotalsObserver">
        <plugin name="disable_quote_observer_collecttotals" type="Gw\AutoCustomerGroup\Plugin\Quote\DisableCollectTotalsObserverPlugin" />
    </type>
    <type name="Magento\Customer\Observer\AfterAddressSaveObserver">
        <plugin name="disable_customer_observer_afteraddresssave" type="Gw\AutoCustomerGroup\Plugin\Customer\DisableAfterAddressSaveObserverPlugin" />
    </type>
    <type name="Magento\Customer\Observer\BeforeAddressSaveObserver">
        <plugin name="customer_observer_beforeaddresssave" type="Gw\AutoCustomerGroup\Plugin\Customer\BeforeAddressSaveObserverPlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\System\Config\Validatevat\Validate">
        <plugin name="customer_system_config_vat_validate" type="Gw\AutoCustomerGroup\Plugin\Customer\ValidatePlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\System\Config\Validatevat\ValidateAdvanced">
        <plugin name="customer_system_config_vat_validate" type="Gw\AutoCustomerGroup\Plugin\Customer\ValidateAdvancedPlugin" />
    </type>
    <type name="Magento\Tax\Model\TaxRuleRepository">
        <plugin name="taxRuleRepositoryPlugin" type="Gw\AutoCustomerGroup\Plugin\Tax\TaxRuleRepositoryPlugin" />
    </type>
    <preference for="Gw\AutoCustomerGroup\Api\GetTaxRatesFromOrderInterface" type="Gw\AutoCustomerGroup\Model\GetTaxRatesFromOrder" />
    <preference for="Gw\AutoCustomerGroup\Api\Data\TaxSchemeInterface" type="Gw\AutoCustomerGroup\Model\TaxSchemes\AbstractTaxScheme" />
    <!--<type name="Magento\Tax\Model\Sales\Order\Tax">
        <plugin name="updateSalesOrderTaxSchemeTable" type="Gw\AutoCustomerGroup\Plugin\Tax\TaxPlugin" />
    </type>-->
    <!--<type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="populate_sales_order_tax_scheme" xsi:type="object">Gw\AutoCustomerGroup\Console\Command\PopulateSalesOrderTaxSchemeTable</item>
            </argument>
        </arguments>
    </type>-->
    <!--<type name="Magento\Tax\Model\Calculation\AbstractCalculator">
        <plugin name="AddExtraTaxInfo" type="Gw\AutoCustomerGroup\Plugin\AddExtraTaxInfoPlugin"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector">
        <plugin name="CopyTaxDetailsPlugin" type="Gw\AutoCustomerGroup\Plugin\CopyTaxDetailsPlugin"/>
    </type>-->
    <preference for="Magento\Tax\Model\TaxRuleCollection" type="Gw\AutoCustomerGroup\Model\TaxRuleCollection"/>
</config>
