<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="CheckoutSubmitAllAfter" instance="Gw\AutoCustomerGroup\Observer\CheckoutSubmitAllAfter"/>
    </event>
    <event name="checkout_submit_before">
        <observer name="CheckoutSubmitBeforeObserver"
                  instance="Gw\AutoCustomerGroup\Observer\CheckoutSubmitBeforeObserver"/>
    </event>
</config>
