{
  "swagger": "2.0",
  "info": {
    "version": "4.1.36",
    "title": "NZBN V4 REST API (design version 1.36)",
    "description": "Interact with the New Zealand Business Number (NZBN) register."
  },
  "host": "sandbox.api.business.govt.nz/services",
  "basePath": "/v4/nzbn",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/entities": {
      "get": {
        "description": "Search for an entity by name.",
        "summary": "NZBN_001_1 - Search the NZBN directory by name (text search)",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesGet",
        "parameters": [
          {
            "name": "search-term",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The text string to search for. Free-text search searches across current and past entity names, current and past trading names, NZBN and legacy numbers (eg company number)."
          },
          {
            "name": "entity-status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Entity status search filter element (one or more of Registered, VoluntaryAdministration, InReceivership, InLiquidation, InStatutoryAdministration,Inactive,RemovedClosed)"
          },
          {
            "name": "entity-type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Entity type search filter element (one or more of NZCompany,OverseasCompany, SoleTrader, Partnership, Trust, BuildingSociety, CharitableTrust, CreditUnion, FriendlySociety, IncorporatedSociety, IndustrialAndProvidentSociety, LimitedPartnershipNz, LimitedPartnershipOverseas, SpecialBodies, SpecialBody, Trading_Trust, Sole_Trader, B, I, D, F, N, S, T, Y, Z, GovtCentral, GovtEdu, GovtLocal, GovtOther, LTD, ULTD, COOP,ASIC, NON_ASIC"
          },
          {
            "name": "industry-code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Industry code search filter element"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of search records page (for pagination), zero indexed"
          },
          {
            "name": "page-size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of search records to be returned (for pagination)"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a search result array of entities. Results are sorted by relevance.",
            "schema": {
              "$ref": "#/definitions/SearchEntityResponse"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "1200pm"
      },
      "post": {
        "summary": "Create a new NZBN entity - one of sole-trader, partnership, trust",
        "operationId": "registerNzbn",
        "tags": [
          "Entities Updates"
        ],
        "description": "Create an NZBN entity - one of sole trader, partnership, trust.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Entity that needs to be added",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "description": "MBIE Request id header",
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "description": "MBIE Correlation id header",
                "type": "string"
              }
            },
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}": {
      "get": {
        "description": "Get an NZBN Entity",
        "summary": "NZBN_002 - View an NZBN",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FullEntity"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "1200pm"
      }
    },
    "/entities/{nzbn}/discoverable": {
      "get": {
        "description": "Get an NZBN Entity",
        "summary": "NZBN_002 - Get basic details of a specified NZBN entity and links to additional information.",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesByNzbnGetDiscoverable",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entity"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/changes": {
      "get": {
        "description": "Search for NZBN entities based on change history.",
        "summary": "NZBN_001_2 - Search NZBN Entity Changes",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesChangesGet",
        "parameters": [
          {
            "name": "change-event-type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma separated list of change events to match when searching the change history\nALL,\nNEW,\nENTITY,\nENTITY_NAME,\nENTITY_STATUS,\nADDRESSES_REGISTERED,\nADDRESSES_OFFICE,\nADDRESSES_POSTAL,\nADDRESSES_RECORDS,\nADDRESSES_SHAREREGISTER,\nADDRESSES_INVOICE,\nADDRESSES_DELIVERY,\nADDRESSES_SERVICE,\nCOMPANYDETAILS_FRAFILINGMONTH,\nCOMPANYDETAILS_ARFILINGMONTH,\nCOMPANYDETAILS_CONSTITUTIONFILED,\nCOMPANYDETAILS_COUNTRYOFORIGIN,\nCOMPANYDETAILS_NZSXCODE,\nCOMPANYDETAILS_ACNNUMBER,\nCOMPANYDETAILS_ULTIMATEHOLDINGCOMPANY,\nCOMPANYDETAILS_SHAREHOLDING,\nCOMPANYDETAILS_INSOLVENCYDETAILS,\nCOMPANYDETAILS_FILINGS, \nCOMPANYDETAILS_REMOVALCOMMENCED,  \nCOMPANYDETAILS_ANNUALRETURNS,\nCOMPANYDETAILS_FINANCIALSTATEMENTS,          \nROLES_DIRECTOR,\nROLES_SOLETRADER,\nROLES_TRUSTEE_INDIVIDUAL,\nROLES_PARTNER_INDIVIDUAL,\nROLES_TRUSTEE_OTHER,\nROLES_PARTNER_OTHER,\nROLES_PARTNER_GENERAL_PARTNER,\nROLES_PERSONAUTHORISEDFORSERVICE,\nPRIVACYSETTINGS,\nTRADINGNAMES,\nWEBSITES,\nPHONENUMBERS,\nEMAILADDRESSES,\nGSTNUMBER,\nTRADINGAREAS,\nAUSTRALIANBUSINESSNUMBER,\nINDUSTRYCLASSIFICATIONS,\nBUSINESSETHNICITYIDENTIFIER\n"
          },
          {
            "name": "entity-type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Entity type search filter element (one or more of Trading_Trust, Sole_Trader, Y, Z, GovtCentral, GovtEdu, GovtLocal, GovtOther, LTD, ULTD, COOP,ASIC, NON_ASIC"
          },
          {
            "name": "date-time-from",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date for change history search (format YYYY-MM-DDThh:mm:ss)"
          },
          {
            "name": "date-time-to",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date for change history search (format YYYY-MM-DDThh:mm:ss)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of search records page (for pagination), zero indexed"
          },
          {
            "name": "page-size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Number of search records to be returned (for pagination)"
          },
          {
            "name": "sort-by",
            "in": "query",
            "required": false,
            "enum": [
              "NZBN",
              "ENTITY_NAME",
              "ENTITY_STATUS",
              "ENTITY_TYPE_CODE"
            ],
            "default": "NZBN",
            "type": "string",
            "description": "Parameter by which to sort the search results."
          },
          {
            "name": "sort-order",
            "in": "query",
            "required": false,
            "enum": [
              "ASC",
              "DESC"
            ],
            "default": "ASC",
            "type": "string",
            "description": "API Consumer can specify \"ASC\" or \"DESC\" to sort by the attribute specified in the sortBy parameter.   ASC will sort in ascending order, DESC will sort in descending order."
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a search result array of entities. Results are sorted by relevance.",
            "schema": {
              "$ref": "#/definitions/SearchEntityChangeResponse"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/statuses": {
      "post": {
        "description": "Update Entity Status for an NZBN Entity",
        "summary": "NZBN_004_19 - Entity Status",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesEntityStatusPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The target entity status.",
            "schema": {
              "$ref": "#/definitions/EntityStatus"
            }
          },
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/FullEntity"
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/action-update-australian-business-numbers": {
      "post": {
        "description": "Update Australian Business Number for an NZBN Entity",
        "summary": "NZBN_005-1 - Update Australian Business Number",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesABNActionUpdate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The target Entity.",
            "schema": {
              "$ref": "#/definitions/UpdateAustralianBusinessNumberRequest"
            }
          },
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAustralianBusinessNumberResponse"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/addresses": {
      "get": {
        "description": "Get Address information for the NZBN",
        "summary": "NZBN_004_1 - Get Addresses",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesAddressesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "address-type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Address Type enum"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Addresses"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Create Address information for the NZBN",
        "summary": "NZBN_024_1 - Create Addresses",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesAddressesByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Address to be added",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Address"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/addresses/{id}": {
      "delete": {
        "description": "Delete Address information for the NZBN",
        "summary": "NZBN_044_1 - Delete Addresses",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesAddressesByNzbnDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the address to update"
          },
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/MatchParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/company-details": {
      "get": {
        "description": "Get Additional Company Details for an NZBN Entity which is a NZCompany",
        "summary": "NZBN_004_2 - Get Company Details",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesCompanyDetailsByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Company"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/non-company-details": {
      "get": {
        "description": "Get Additional Details for an NZBN Entity which is not an NZCompany, for example Limited Partnerships, Charities",
        "summary": "NZBN_004_2b - Get Non Company Details",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesNonCompanyDetailsByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN search filter element"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NonCompany"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/roles": {
      "get": {
        "description": "Get Roles for an NZBN Entity",
        "summary": "NZBN_004_3 - Get Roles",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesRolesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Roles"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Create Roles for an NZBN Entity",
        "summary": "NZBN_024_3 - Create Roles",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesRolesByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Role"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Role"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/roles/{id}": {
      "put": {
        "description": "Update Roles for an NZBN Entity",
        "summary": "NZBN_034_3 - Update Roles",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesRolesByNzbnPut",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Uid of the record to update, must match the value in the body."
          },
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Role"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/MatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Role"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/privacy-settings": {
      "get": {
        "description": "Get Privacy Settings for an NZBN Entity",
        "summary": "NZBN_004_5 - Get Privacy Settings",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesPrivacySettingsByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PrivacySettings"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "put": {
        "description": "Update Privacy Settings for an NZBN Entity",
        "summary": "NZBN_034_5 - Update Privacy Settings",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesPrivacySettingsByNzbnPut",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Privacy Setting to be updated.",
            "schema": {
              "$ref": "#/definitions/PrivacySettings"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/MatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PrivacySettings"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/industry-classifications": {
      "get": {
        "description": "Get Industry Classification for an NZBN Entity",
        "summary": "NZBN_004_6 - Get Classification",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesIndustryClassificationsByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IndustryClassifications"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Set Industry Classifications for an NZBN Entity",
        "summary": "NZBN_024_6 - Create Classification",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesIndustryClassificationsByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Industry Classifications required for this entity.",
            "schema": {
              "$ref": "#/definitions/IndustryClassifications"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IndustryClassifications"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/trading-names": {
      "get": {
        "description": "Get Trading Name for an NZBN Entity",
        "summary": "NZBN_004_7 - Get Trading Name",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesTradingNamesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TradingNames"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Create Trading Name for an NZBN Entity",
        "summary": "NZBN_024_7 - Create Trading Name",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesTradingNamesByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The set of trading names required for this entity",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TradingName"
              }
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TradingName"
              }
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/websites": {
      "get": {
        "description": "Get Website for an NZBN Entity",
        "summary": "NZBN_004_8 - Get Websites",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesWebsitesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Websites"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Set Websites for an NZBN Entity",
        "summary": "NZBN_024_8 - Add Website",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesWebsitesByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The target set of websites required.",
            "schema": {
              "$ref": "#/definitions/Websites"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Websites"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/phone-numbers": {
      "get": {
        "description": "Get A Phone Number for an NZBN Entity",
        "summary": "NZBN_004_9 - Get Phone Numbers",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesPhoneNumbersByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PhoneNumbers"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Set Phone Numbers for an NZBN Entity",
        "summary": "NZBN_024_9 - Create Phone Number",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesPhoneNumbersByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Phone Number to be added",
            "schema": {
              "$ref": "#/definitions/PhoneNumbers"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PhoneNumbers"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/email-addresses": {
      "get": {
        "description": "Get Email Addresses for an NZBN Entity",
        "summary": "NZBN_004_10 - Get Email Addresses",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesEmailAddressesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EmailAddresses"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Set Email Addresses for an NZBN Entity",
        "summary": "NZBN_024_10 - Create Email Addresses",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesEmailAddressesByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Address to be added",
            "schema": {
              "$ref": "#/definitions/EmailAddresses"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EmailAddresses"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/business-ethnicity-identifiers": {
      "get": {
        "description": "Get Business Ethnicity Identifiers for an NZBN Entity",
        "summary": "NZBN_XXX - Get Business Ethnicity Identifiers",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesBusinessEthnicityByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BusinessEthnicityIdentifiers"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Set Business Ethnicity Identifiers for an NZBN Entity",
        "summary": "NZBN_XXX - Create Business Ethnicity Identifiers",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesBusinessEthnicitiesByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The collection of BusinessEthnicityIdentifiers to be added",
            "schema": {
              "$ref": "#/definitions/BusinessEthnicityIdentifiers"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BusinessEthnicityIdentifiers"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/gst-numbers": {
      "get": {
        "description": "Get GST Numbers for an NZBN Entity",
        "summary": "NZBN_004_11 - Get GST Numbers",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesGstNumbersByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GstNumbers"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Set GST Numbers for an NZBN Entity",
        "summary": "NZBN_024_11 - Add GST Numbers",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesGstNumbersByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "the NZBN Number"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "GST Numbers to be added",
            "schema": {
              "$ref": "#/definitions/GstNumbers"
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GstNumbers"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/trading-areas": {
      "get": {
        "description": "Get Trading Area for an NZBN Entity",
        "summary": "NZBN_004_12 - Get Trading Areas",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesTradingAreasByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          },
          {
            "$ref": "#/parameters/NoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TradingArea"
              }
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Create Trading Area for an NZBN Entity",
        "summary": "NZBN_024_12 - Create Trading Area",
        "tags": [
          "Entities Updates"
        ],
        "operationId": "EntitiesTradingAreasByNzbnPost",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Address to be added",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TradingArea"
              }
            }
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TradingArea"
              }
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/entities/{nzbn}/filings": {
      "get": {
        "description": "Returns all the filings (transactions performed or documents uploaded to provide public information about a business) associated with an entity.",
        "summary": "NZBN_004_13 - Get the filings associated with an entity",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesFilingsByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "entity identifier"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns 0 or more filings associated with this entity",
            "schema": {
              "$ref": "#/definitions/EntitiesFilingsSearchResponse"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/history/hibernation-statuses": {
      "get": {
        "description": "Get hibernation Status History for an NZBN Entity",
        "summary": "NZBN_014 - Hibernation Status History",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesHistoryHibernationStatusesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN number of the business entity"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HibernationStatuses"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/history": {
      "get": {
        "description": "Returns a collection of links to the NZBN history subresources",
        "summary": "NZBN_004_14 - View NZBN History",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesHistoryByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Link"
              }
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/history/addresses": {
      "get": {
        "description": "Get Historic Addresses for an NZBN Entity",
        "summary": "NZBN_004_15 - Get Address History",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesHistoryAddressesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "address-type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Address Type enum"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Addresses"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/history/entity-names": {
      "get": {
        "description": "Get Historic Entity Names for an NZBN Entity",
        "summary": "NZBN_004_16 - Entity Name History",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesHistoryEntityNamesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityName"
              }
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/history/trading-names": {
      "get": {
        "description": "Get Trading Name history for an NZBN Entity",
        "summary": "NZBN_004_17 - Trading Name History",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesHistoryTradingNamesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TradingName"
              }
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/history/trading-areas": {
      "get": {
        "description": "Get Trading Area history for an NZBN Entity",
        "summary": "NZBN_004_18 - Trading Area History",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesHistoryTradingAreasByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TradingArea"
              }
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/entities/{nzbn}/history/entity-statuses": {
      "get": {
        "description": "Get Entity Status History for an NZBN Entity",
        "summary": "NZBN_004_19 - Entity Status History",
        "tags": [
          "Entities"
        ],
        "operationId": "EntitiesHistoryEntityStatusesByNzbnGet",
        "parameters": [
          {
            "name": "nzbn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityStatus"
              }
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      }
    },
    "/users": {
      "get": {
        "description": "Get the details of the currently logged in user (the only user resource the current user has authorisation to see)",
        "summary": "NZBN_101_1 - Get the details of the currently logged in user",
        "tags": [
          "Users"
        ],
        "operationId": "UsersGet",
        "parameters": [
          {
            "$ref": "#/parameters/RequestIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserList"
            },
            "headers": {
              "If-None-Match": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Allows a first-time user, logged in via RealMe, to create an NZBN profile to match it.",
        "summary": "Create a User",
        "tags": [
          "Users"
        ],
        "operationId": "UsersPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "User to be added",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/users/{userId}": {
      "get": {
        "description": "Get User Details",
        "summary": "NZBN_101_2 - Get User Details",
        "tags": [
          "Users"
        ],
        "operationId": "UsersByUserIdGet",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "User ID to return"
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "headers": {
              "If-None-Match": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "put": {
        "description": "Maintain User Details",
        "summary": "NZBN_101_3 - Maintain User Details",
        "tags": [
          "Users"
        ],
        "operationId": "UsersByUserIdPut",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "User ID to update"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "UUID / ETag for concurrency control"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "User to be updated",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Date modified for concurrency control, in the format yyyy-MM-ddTHH:mm:ss.SSS, e.g 2016-10-21T11:21:33.224"
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/organisations": {
      "get": {
        "description": "Search for organisations that the current user is a member or administrator of.  There are no search parameters - this call returns every organisation associated with the current user.",
        "summary": "NZBN_102_1 - searchOrganisations",
        "tags": [
          "Organisations"
        ],
        "operationId": "OrganisationsGet",
        "parameters": [
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganisationSearchResponse"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Create an Organisation",
        "summary": "NZBN_102_2 Create an Organisation",
        "tags": [
          "Organisations"
        ],
        "operationId": "OrganisationsPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Organisation to be added",
            "schema": {
              "$ref": "#/definitions/Organisation"
            }
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organisation"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/organisations/{organisationId}": {
      "get": {
        "description": "Get an Organisations Details",
        "summary": "NZBN_102_3 - Get an Organisation Details",
        "tags": [
          "Organisations"
        ],
        "operationId": "OrganisationsByOrganisationIdGet",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organisation to be retrieved"
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organisation"
            },
            "headers": {
              "If-None-Match": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "put": {
        "description": "Maintain Organisation Details",
        "summary": "NZBN_102_4 - Maintain Organisation Details",
        "tags": [
          "Organisations"
        ],
        "operationId": "OrganisationsByOrganisationIdPut",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "NZBN entity to get details for"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "UUID / ETag for concurrency control"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Organisation to be updated",
            "schema": {
              "$ref": "#/definitions/Organisation"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Date modified for concurrency control, in the format yyyy-MM-ddTHH:mm:ss.SSS, e.g 2016-10-21T11:21:33.224"
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organisation"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/organisations/{organisationId}/organisationUsers": {
      "get": {
        "description": "Returns a list of Organisation Users that are members or administrators of the specified Organisation.",
        "summary": "NZBN_104_1 - Get Organisation Users",
        "tags": [
          "Organisation Users"
        ],
        "operationId": "OrganisationsOrganisationUsersByOrganisationIdGet",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the Organisation"
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Consists of a set of individual Org Users",
            "schema": {
              "$ref": "#/definitions/OrganisationUserSearchResponse"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "post": {
        "description": "Create an Organisation User. This call adds a new pending user to an organisation, and sends an activation code to the email address provided.",
        "summary": "NZBN_104_1 - Create an Organisation User",
        "tags": [
          "Organisation Users"
        ],
        "operationId": "OrganisationsOrganisationUsersByOrganisationIdPost",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the Organisation"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Organisation User that needs to be added",
            "schema": {
              "$ref": "#/definitions/OrganisationUser"
            }
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/OrganisationUser"
            },
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/organisations/activateOrganisationUser": {
      "post": {
        "description": "Given an activation code, grant the currently logged in user organisation membership.",
        "summary": "NZBN_104_3 - Given an activation code, grant the currently logged in user organisation membership.",
        "tags": [
          "Organisation Users"
        ],
        "operationId": "OrganisationsActivateOrganisationUserPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Activation Code",
            "schema": {
              "$ref": "#/definitions/body"
            }
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "120pm"
      }
    },
    "/organisations/{organisationId}/organisationUsers/{organisationUserId}": {
      "get": {
        "description": "Returns an Organisation User",
        "summary": "NZBN_104_4 - Get Organisation User",
        "tags": [
          "Organisation Users"
        ],
        "operationId": "OrganisationsOrganisationUsersByOrganisationIdAndOrganisationUserIdGet",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the Organisation"
          },
          {
            "name": "organisationUserId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the organisation user record"
          },
          {
            "name": "api-business-govt-nz-Request-Id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Request id. Provide a UUID that is unique to this request.  This header is not required."
          }
        ],
        "responses": {
          "200": {
            "description": "Succesful result is a User record.",
            "schema": {
              "$ref": "#/definitions/OrganisationUser"
            },
            "headers": {
              "If-None-Match": {
                "type": "string"
              },
              "api-business-govt-nz-Request-Id": {
                "type": "string"
              },
              "api-business-govt-nz-Correlation-Id": {
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "default": {
            "$ref": "#/responses/500"
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "900pm"
      },
      "put": {
[...]
