<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Block\Adminhtml\Sales\Order\Address\Form\Renderer\Vat"
        type="Gw\AutoCustomerGroup\Block\Adminhtml\ValidateVATNumberButton"/>
</config>
