<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="autocustomergroup" translate="label" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Automatic Customer Groups</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="default_group" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Group</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <config_path>customer/create_account/default_group</config_path>
                </field>
                <field id="auto_group_assign" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Automatic Assignment to Customer Group</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>customer/create_account/auto_group_assign</config_path>
                </field>
                <field id="viv_on_each_transaction" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Validate on Each Transaction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>customer/create_account/viv_on_each_transaction</config_path>
                    <depends>
                        <field id="auto_group_assign">1</field>
                    </depends>
                </field>
            </group>
            <group id="ukvat" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>UK VAT Scheme</label>
                <comment><![CDATA[
<div class="autocustomergroup-schemeoverview">
<p>This Scheme applies to shipments being sent from anywhere in the world to the United Kingdom (UK) and Isle of Man (IM). Note special procedures
    apply for shipments to Northern Ireland (NI, Part of UK)
</p>
<p>As of 1st January 2021, all sellers must collect UK VAT at the point of sale and remit to the UK HMRC.</p>
<p>The module assumes the following rules :</p>
<ul>
    <li><b>Domestic Taxed</b> - For shipments wthin the UK/IM, normal UK VAT rules apply.</li>
    <li><b>Intra-EU Zero</b> - For shipments from the EU to NI and the buyer presents a validated UK VAT 
        number, then the sale can be zero rated for UK VAT.</li>
    <li><b>Intra-EU Distance Sale Taxed</b> - For shipments from the EU to NI and the buyer does not present a validated UK VAT 
        number UK VAT should be charged.</li>
    <li><b>Import Reverse Charge</b> - For shipments from outside of the UK/IM to the UK/IM and the buyer presents a 
        validated UK VAT number, then VAT should not be charged. Reverse Charge notice to be included on Invoice.</li>
    <li><b>Import Taxed</b> - For shipments from outside of the UK/IM to the UK/IM and the Intrinsic Value is equal to or below 135 GBP, then 
        VAT should be charged.</li>
    <li><b>Import Untaxed</b> - For shipments from outside of the UK/IM to the UK/IM, if the Intrinsic Value is above 135 GBP, then VAT should 
        NOT be charged and instead will be collected at the UK/IM border along with any duties due.</li>
</ul>
<p>For the UK VAT Scheme, Intrinsic Value is defined as "The price the goods were sold for, not including any transport or insurance 
    costs, unless they are included in the price and not separately shown on the invoice or any other identifiable taxes and charges." This 
    can be confirmed
    <a href="https://www.gov.uk/guidance/vat-and-overseas-goods-sold-directly-to-customers-in-the-uk#goods-that-are-outside-the-uk-at-the-point-of-sale" 
    target="_blank">here</a>.</p>
<p>More information on the scheme can be found on the 
    <a href="https://www.gov.uk/guidance/vat-and-overseas-goods-sold-directly-to-customers-in-the-uk" target="_blank">UK Government Website</a></p>
<p>Credentials for the UK HMRC VAT Number checker API can be obtained by signing up on the <a href="https://developer.service.hmrc.gov.uk" target="_blank">HMRC Developers Website</a>.</p>
</div>
                    ]]></comment>
                <depends>
                    <field id="autocustomergroup/general/auto_group_assign">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Environment</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="clientid" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="clientsecret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="registrationnumber" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VAT Registration Number</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importthreshold" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import VAT Threshold</label>
                    <comment>The order value (ex VAT) threshold (in Store Currency) above which no VAT should be charged. Calculated as the sum of all line items after discount ex Tax.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>      
                <field id="domestictaxed" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Domestic Taxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is within the UK/IM, Item is being shipped to the UK/IM.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>       
                <field id="intraeuzero" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Intra-EU Zero</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is within the EU, Item is being shipped to NI, VAT Number Validated Successfully.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="intraeudistancesaletaxed" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Intra-EU Distance Sale Taxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is within the EU, Item is being shipped to NI, Valid VAT number is NOT supplied.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>     
                <field id="importreversecharge" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Import Reverse Charge</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is not within the UK/IM, Item is being shipped to the UK/IM, VAT Number Validated Successfully.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importtaxed" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Import Taxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is not within the UK/IM, Item is being shipped to the UKIM, Order Value is below or equal to Import VAT Threshold.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                 <field id="importuntaxed" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Import Untaxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is not within the UK/Isle of Man, Item is being shipped to the UK/Isle of Man, Order Value is above the Import VAT Threshold.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
           </group>
            <group id="euvat" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>EU VAT Scheme</label>
                <comment><![CDATA[
<div class="autocustomergroup-schemeoverview">
<p>This Scheme applies to shipments being sent from anywhere in the world to the EU. Note special procedures
    apply for shipments from Northern Ireland (NI, Part of UK) to the EU.</p>
<p>As of 1st July 2021, all sellers must register for the EU OSS scheme in an EU country of their choice, and collect the 
    appropriate EU VAT at the point of sale and remit to the EU.</p>
<p>The module assumes the following rules :</p>
<ul>
    <li><b>Domestic Taxed</b> - For shipments within a single EU country, normal EU VAT rules apply.</li>
    <li><b>Intra-EU Zero</b> - For shipments between different countries within the EU, or from NI to the EU and the buyer presents a validated EU VAT number, then 
        the sale can be zero rated for EU VAT.</li>
    <li><b>Intra-EU Distance Sale Taxed</b> - For shipments between different countries within the EU, or from NI to the EU and the buyer does NOT present a validated EU VAT number, then 
        Destination Country VAT should be charged.</li>
    <li><b>Import Reverse Charge</b> - For shipments from outside of the EU to within the EU and the buyer presents a validated EU VAT number, then 
        VAT should not be charged. Reverse Charge notice to be included on Invoice.</li>
    <li><b>Import Taxed</b> - For shipments from outside of the EU to the EU and the Intrinsic Value is equal to or below 150 EUR, then 
        Destination Country VAT should be charged.</li>
    <li><b>Import Untaxed</b> - For shipments from outside of the EU to the EU and the Intrinsic Value is above 150 EUR, then VAT should 
        NOT be charged and instead will be collected at the EU border along with any duties due.</li>
</ul>
<p>For the EU VAT Scheme, Intrinsic Value is defined as "The intrinsic value is the actual value of the product and does not include any other
    costs such as insurance and freight." This can be confirmed 
    <a href="https://ec.europa.eu/taxation_customs/sites/taxation/files/guidance_on_import_and_export_of_low_value_consignments_final.pdf" 
    target="_blank">here</a> in Section 1.3.1.</p>
<p>More information on the scheme can be found on the
    <a href="https://ec.europa.eu/taxation_customs/customs-procedures/customs-formalities-low-value-consignments_en" target="_blank">European Commission Website</a></p>
</div>
                    ]]></comment>
                <depends>
                    <field id="autocustomergroup/general/auto_group_assign">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="registrationcountry" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="registrationnumber" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VAT Registration Number</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>  
                <field id="importthreshold" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import VAT Threshold</label>
                    <comment>The order value (ex VAT) threshold (in Store Currency) above which no VAT should be charged. Calculated as the sum of all line items after discount ex Tax.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>        
                <field id="domestictaxed" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Domestic Taxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is within the EU, Item is being shipped to the same country.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>           
                <field id="intraeuzero" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Intra-EU Zero</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is within the EU or NI, Item is being shipped to the EU, Merchant Country and Shipping Country are not the same, VAT Number Validated Successfully.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="intraeudistancesaletaxed" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Intra EU Distance Sale Taxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is within the EU or NI, Item is being shipped to the EU, Merchant Country and Shipping Country are not the same. Valid VAT Number not supplied.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importreversecharge" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Import Reverse Charge</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is not within the EU, Item is being shipped to the EU, VAT Number Validated Successfully.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importtaxed" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Import Taxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is not within the EU, Item is being shipped to the EU, Order Value is below or equal to the Import VAT Threshold.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="importuntaxed" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group - Import Untaxed</label>
                    <source_model>Gw\AutoCustomerGroup\Model\Config\Source\Group</source_model>
                    <comment>Merchant Country is not within the EU, Item is being shipped to the EU, Order Value is above the Import VAT Threshold.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

            </group>
        </section>
        <section id="customer">
            <group id="create_account">
                <field id="viv_domestic_group" showInDefault="0" showInWebsite="0" showInStore="0"/>
                <field id="viv_intra_union_group" showInDefault="0" showInWebsite="0" showInStore="0"/>
                <field id="viv_invalid_group" showInDefault="0" showInWebsite="0" showInStore="0"/>
                <field id="viv_error_group" showInDefault="0" showInWebsite="0" showInStore="0"/>
                <field id="auto_group_assign" showInDefault="0" showInWebsite="0" showInStore="0"/>
                <field id="tax_calculation_address_type" showInDefault="0" showInWebsite="0" showInStore="0"/>
                <field id="viv_on_each_transaction" showInDefault="0" showInWebsite="0" showInStore="0"/>
                <field id="default_group" showInDefault="0" showInWebsite="0" showInStore="0"/>
            </group>
        </section>
    </system>
</config>
